.count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 168px;
}
.countBalls{
    display: flex;
    width: 928px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.countBalls>.repo{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 24px;
    height:190px;
    width:190px;
    background: #f66a0a;
    border-radius: 100%;
    margin: 16px;
}
.countBalls>.repo>h2{
    font-size: 40px;
}
.countBalls>.repo>p{
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    line-height: 1.25;
}
.countBalls>.developers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 24px;
    height:155px;
    width:155px;
    background: #0366d6;
    border-radius: 100%;
    margin: 16px;
}
.countBalls>.developers>h2{
    font-size: 40px;
}
.countBalls>.developers>p{
    font-size:14px;
    text-align: center;
    font-weight: 500;
    line-height: 1.25;
    color: white;
}
.countBalls>.organiz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 24px;
    height:110px;
    width:110px;
    background: #6f42c1;
    border-radius: 100%;
    margin: 16px;
}
.countBalls>.organiz>h2{
    font-size: 32px;
}
.countBalls>.organiz>p{
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    line-height: 1.25;
}
.countDetails{
    display: flex;
    align-items: center;
    justify-content: center;
}
.countDetails>ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.countDetails>ul>li{
    padding: 24px;
    border: transparent;
}
.countDetails>ul>li>p{
    font-size: 15px;
    margin: 0;
}
.countDetails>ul>li>p>span{
    font-size: 12px;
    color: gray;
}
.countDetails>ul>li:hover{
    transition: 0.3s;
    border: 1px solid rgb(192, 190, 190);
    box-shadow: -2px -2px 15px rgb(233, 230,230);
}
@media screen and (max-width:767px){
    .count{
        flex-direction: column;
        margin: 0;
    }
    .countBalls{
        width: 500px;
    }
}
@media screen and (max-width:543px){
    .countBalls{
        width:300px;
    }
    .countBalls>.repo{
        height: 160px;
        width: 160px;
        margin: 5px;
    }
    .countBalls>.repo>h2{
        font-size:25px;
    }
    .countBalls>.developers{
        height: 120px;
        width: 120px;
        margin: 5px;
    }
    .countBalls>.developers>h2{
        font-size: 25px;
    }
    .countBalls>.organiz{
        height:90px;
        width:90px;
        margin:5px;
    }
    .countBalls>.organiz>h2{
        font-size: 20px;
    }
    .countBalls>.organiz>p{
        font-size:10px;
    }
}


