.balls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerBalls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.setUp{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #4a154b;
    height: 96px;
    width: 96px;
    margin: -48px 16px 16px;
}
.setDown{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #364e98;
    height: 96px;
    width: 96px;
    margin:48px 16px 16px;
}
.ballImg{
    height:52px;
    width: 52px;
}
.travis{
    background: #eff9f9;
}
.atom{
    background: #5fb57d;
}
.circle{
    background: #022531;
}
.google{
    background: #f2f2f2;
}
.code{
    background: #303030;
}
@media screen and (max-width:1010px){
    .setUp, .setDown{
        margin-top: 50px;
    }
}